<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Responsive Admin Dashboard Template">
  <meta name="keywords" content="admin,dashboard">
  <meta name="author" content="stacks">
  <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>Manage User</title>

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
  <link href="public/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="public/plugins/font-awesome/css/all.min.css" rel="stylesheet">
  <link href="public/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">
  <link href="public/plugins/apexcharts/apexcharts.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Theme Styles -->
  <link href="public/css/main.min.css" rel="stylesheet">
  <link href="public/css/custom.css" rel="stylesheet">
  <style>
    .fa-large {
      font-size: 30px;
      padding: 10px;
    }

    .color-green {
      color: #6bcac2;
    }

    .color-red {
      color: #dc3545;
    }

    .active-page1 {
      border-radius: 10px;
      background-color: #f3f6f9;
      color: #7888fc;
      font-weight: 500;
    }

    .link-btn {
      border: none;
      background-color: inherit;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      display: inline-block;
    }

    .link-info {
      color: dodgerblue;
    }

    .link-danger {
      color: red;
    }

    .modal-open .modal {
      overflow-x: hidden;
      overflow-y: hidden;
    }

    #submitBtn {
      visibility: hidden;
    }

    .show-row {
      visibility: visible;
      display: block;
    }

    .hide-row {
      visibility: hidden;
      display: none;
    }

    .hide1-row {
      visibility: hidden;
      display: none;
    }

    .hideOption {
      visibility: hidden;
      display: none;
    }
  </style>
  <!-- <script>
    document.getElementById('output').innerHTML = location.search;
    $(".chosen-select").chosen();
  </script> -->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>

  <!-- <div class='loader'>
        <div class='spinner-grow text-primary' role='status'>
          <span class='sr-only'>Loading...</span>
        </div>
      </div> -->
  <div class="page-container">
    <div class="page-header">
      <nav class="navbar navbar-expand-lg d-flex justify-content-between">
        <div class="" id="navbarNav">
          <ul class="navbar-nav" id="leftNav">
            <li class="nav-item">
              <a class="nav-link" id="sidebar-toggle" href="#"><i data-feather="menu"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>

          </ul>
        </div>
        <div class="logo1">
          <h3 class="card-title mb-0"> <i class="fas fa-user-cog" style="font-size: 30px"></i>
            <%= locals.username %>, Manage Users
          </h3>
        </div>
        <div class="" id="headerNav">

        </div>
      </nav>
    </div>
    <div class="page-sidebar">
      <ul class="list-unstyled accordion-menu">
        <li class="sidebar-title">
          Main
        </li>
        <li>
          <a href="/index"><i data-feather="home"></i>Dashboard</a>
        </li>
        <li class="sidebar-title">
          Apps
        </li>
        <% if (locals.shopify==true) { %>
          <li>
            <a href="/shopify"><i data-feather="chevron-right"></i>Shopify</a>
          </li>
          <% } %>
            <% if (locals.ebay==true) { %>
              <li>
                <a href="/ebay"><i data-feather="chevron-right"></i>Ebay</a>
              </li>
              <% } %>
                <% if (locals.amaz==true) { %>
                  <li>
                    <a href="/amazon"><i data-feather="chevron-right"></i>Amazon</a>
                  </li>
                  <% } %>
                    <% if (locals.majento==true) { %>
                      <li>
                        <a href="/majento"><i data-feather="chevron-right"></i>Majento</a>
                      </li>
                      <% } %>
                        <% if (locals.wooCommerce==true) { %>
                          <li>
                            <a href="/woocommerce"><i data-feather="chevron-right"></i>Woo Commerce</a>
                          </li>
                          <% } %>
                            <% if (locals.bigCommerce==true) { %>
                              <li>
                                <a href="/bigcommerce"><i data-feather="chevron-right"></i>Big Commerce</a>
                              </li>
                              <% } %>
                                <% if (locals.etsy==true) { %>
                                  <li>
                                    <a href="/etsy"><i data-feather="chevron-right"></i>ETSY</a>
                                  </li>
                                  <% } %>
                                    <% if (locals.quickBooks==true) { %>
                                      <li>
                                        <a href="/quickbooks"><i data-feather="chevron-right"></i>Quick Books</a>
                                      </li>
                                      <% } %>
                                        <li class="sidebar-title">
                                          Other Services
                                        </li>
                                        <li>
                                          <a href="#"><i data-feather="settings"></i>Services<i
                                              class="fas fa-chevron-right dropdown-icon"></i></a>
                                          <ul class="">
                                            <li><a href="/updateAqxolt"><i class="far fa-circle"></i>Update Aqxolt
                                                Info</a></li>
                                            <% if (locals.manage==true) { %>
                                              <li class="active-page"><a href="#"><i class="far fa-circle"></i>Manage
                                                  Users</a></li>
                                              <li><a href="typography.html"><i class="far fa-circle"></i>Background
                                                  Jobs</a></li>
                                              <% } %>
                                          </ul>
                                        </li>

                                        <li class="sidebar-title">
                                          Manage Account
                                        </li>
                                        <li>
                                          <a href="#"><i data-feather="user"></i>Profile<i
                                              class="fas fa-chevron-right dropdown-icon"></i></a>
                                          <ul class="">
                                            <li class="active-page"><a href="/manage-edit"><i
                                                  class="far fa-circle"></i>Manage</a>
                                            </li>
                                            <li><a href="/logout"><i class="far fa-circle"></i>logout</a></li>

                                          </ul>
                                        </li>

      </ul>
    </div>
    <div class="page-content">
      <div class="main-wrapper">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Manage Users</h5>

                <% if (success_msg.length> 0) { %>
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= locals.success_msg %>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>

                  <% } %>

                    <form id="user-form" method="POST" action="/manage">
                      <input type="hidden" id="selAccess" name="selAccess" placeholder="selAccess">
                      <input type="hidden" id="selEmail" name="selEmail" placeholder="selEmail">
                      <table class="table table-condensed display tableId" style="width:100%">
                        <thead>
                          <tr>
                            <th>Email </th>
                            <th>E-Commerce Site </th>
                            <th>Shops </th>
                            <th>Admin?</th>
                            <th>Last Login</th>
                            <th>Login Count</th>
                            <th>Make Admin</th>
                            <th>Edit</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        <tbody>

                          <% for(var i=0; i < locals.userList.rows.length; i++) { %>
                            <tr class="row-row">
                              <td>
                                <%= locals.userList.rows[i].email %>
                              </td>
                              <td class="row-two">
                                <div class="show-row">
                                  <% if (locals.userList.rows[i].has_access_of.length> 0) { %>
                                    <!-- <select data-placeholder="" name="accessList" multiple class="chosen-select"> -->
                                    <ul style="list-style-type:none;">
                                      <% for(var j=0; j < locals.userList.rows[i].has_access_of.length; j++) { %>
                                        <!-- <option value="<%= locals.userList.rows[i].has_access_of[j] %> "> -->
                                        <li>
                                          <%= locals.userList.rows[i].has_access_of[j] %>
                                        </li>
                                        <!-- </option> -->
                                        <% } %>
                                    </ul>
                                    <div class="hideOption">
                                      <select name="Option" class="Option" multiple>
                                        <% for(var j=0; j < locals.userList.rows[i].has_access_of.length; j++) { %>
                                          <option value="<%= locals.userList.rows[i].has_access_of[j] %> ">
                                            <%= locals.userList.rows[i].has_access_of[j] %>
                                          </option>
                                          <% } %>
                                      </select>
                                    </div>
                                    <% } %>
                                      <% if (locals.userList.rows[i].has_access_of.length <=0) { %>
                                        Doesn't have any Integration Access
                                        <% } %>
                                          <% if (locals.userList.rows[i].email!=locals.userId ) { %>
                                            <i class="fas fa-pen color-green editButton"
                                              name="<% locals.userList.rows[i].email %> "></i>
                                            <% } %>
                                </div>
                                <div class="hide-row">
                                  <select name="selIntegrate" class="selIntegrate" multiple multiselect-search="true"
                                    multiselect-select-all="true" multiselect-max-items="8">
                                    <option value="amazon">Amazon</option>
                                    <option value="shopify">Shopify</option>
                                    <option value="etsy">Etsy</option>
                                    <option value="majento">Majento</option>
                                    <option value="wooCommerce">Woo Commerce</option>
                                    <option value="bigCommerce">Big Commerce</option>
                                    <option value="quickBooks">Quick Books</option>
                                    <option value="ebay">Ebay</option>
                                  </select>
                                  <i class="fas fa-check color-green checkButton"
                                    name="<%= locals.userList.rows[i].email %>"></i>
                                  <i class="fas fa-times color-red cancelButton"
                                    name="<%= locals.userList.rows[i].email %> "></i>
                                </div>

                              </td>
                              <td>&nbsp;</td>
                              <td>
                                <% if (locals.userList.rows[i].role=="admin" ) { %>
                                  Yes
                                  <% } %>
                                    <% if(locals.userList.rows[i].role=="user" ) { %>
                                      No
                                      <% } %>
                              </td>
                              <td>
                                <%= locals.userList.rows[i].last_login %>
                              </td>
                              <td>
                                <%= locals.userList.rows[i].login_count %>
                              </td>
                              <td>
                                <% if (locals.userList.rows[i].role=="admin" ) { %>
                                  <% if (locals.userList.rows[i].email==locals.userId ) { %>
                                    -
                                    <% } %>
                                      <% if (locals.userList.rows[i].email !=locals.userId ) { %>
                                        <button type="button" name="<%= locals.userList.rows[i].email %>"
                                          data-id="<%= locals.userList.rows[i].email %>"
                                          class="link-btn link-danger removeAdmin">Remove
                                          Admin</button>
                                        <% } %>
                                          <% } %>
                                            <% if(locals.userList.rows[i].role=="user" ) { %>
                                              <button type="button" name="<%= locals.userList.rows[i].email %>"
                                                data-id="<%= locals.userList.rows[i].email %>"
                                                class="link-btn link-info makeAdmin">Make
                                                Admin</button>
                                              <% } %>
                              </td>
                              <td>
                                <% if (locals.userList.rows[i].email==locals.userId ) { %>
                                  -
                                  <% } %>
                                    <% if (locals.userList.rows[i].email !=locals.userId ) { %>
                                      <i class="fas fa-pen color-green editModule"
                                        name="<% locals.userList.rows[i].id %>" data-bs-toggle="modal"
                                        data-bs-target="#editSalesDetails"
                                        data-id="<%= locals.userList.rows[i].email %>"
                                        data-aqxoltClient="<%= locals.userList.rows[i].aqxolt_client %>"
                                        data-clientSecret="<%= locals.userList.rows[i].client_secret %>"
                                        data-aqxoltChannel="<%= locals.userList.rows[i].aqxolt_channel %>"
                                        data-aqxoltOrderProfile="<%= locals.userList.rows[i].aqxolt_order_profile %>"
                                        data-aqxoltCustomer="<%= locals.userList.rows[i].aqxolt_customer %>"
                                        data-instanceUrl="<%= locals.userList.rows[i].instance_url %>">
                                      </i>
                                      <% } %>
                              </td>
                              <td>
                                <% if (locals.userList.rows[i].email==locals.userId ) { %>
                                  -
                                  <% } %>
                                    <% if (locals.userList.rows[i].email !=locals.userId ) { %>
                                      <i class="fas fa-trash color-red delete-user"
                                        data-id="<%= locals.userList.rows[i].email %>"></i>
                                      <% } %>
                              </td>
                            </tr>
                            <% } %>
                        </tbody>

                      </table>
                      <button id="submitBtn" type="submit" value="submit" />
                    </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<div>
  <form method="post" action="/edit">
  <div class="modal fade" id="editSalesDetails" tabindex="-1" aria-labelledby="editSalesDetailsLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" style="max-height: 86%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Edit User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <div class="mb-3">
              <input type="hidden" id="edit-form-id" name="emailId" />
              <label for="edit-form-aqxoltClient" class="form-label">Aqxolt Client</label>
              <input type="text" class="form-control" id="edit-form-aqxoltClient" name="aqxoltClient"
                aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
              <label for="edit-form-clientSecret" class="form-label">Client Secret</label>
              <input type="text" class="form-control" id="edit-form-clientSecret" name="clientSecret"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="edit-form-instanceUrl" class="form-label">Instance Url</label>
              <input type="text" class="form-control" id="edit-form-instanceUrl" name="instanceUrl"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="edit-form-aqxoltChannel" class="form-label">Aqxolt Channel</label>
              <input type="text" class="form-control" id="edit-form-aqxoltChannel" name="aqxoltChannel"
                aria-describedby="emailHelp">

            </div>

            <div class="mb-3">
              <label for="edit-form-aqxoltOrderProfile" class="form-label">Aqxolt Order Profile</label>
              <input type="text" class="form-control" id="edit-form-aqxoltOrderProfile" name="aqxoltOrderProfile"
                aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
              <label for="edit-form-aqxoltCustomer" class="form-label">Customer Profile ID</label>
              <input type="text" class="form-control" id="edit-form-aqxoltCustomer" name="aqxoltCustomer"
                aria-describedby="emailHelp">

            </div>
            <div class="modal-footer" style="padding: 5px; padding-right: 20px">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save changes">
            </div>
          </div>
        </div>        
        
      </div>
    </div>
  </form>
</div>
  <script>

    $(document).ready(function () {

      $('.checkButton').click(function () {
        var name = $(this).parents('tr').find('.checkButton').attr('name');
        var values = [];
        $(this).parents('tr').find('.selIntegrate').each(function (i, sel) {
          var selectedVal = $(sel).val();
          values = selectedVal;
        });
        document.getElementById("selAccess").value = JSON.stringify(values);
        document.getElementById("selEmail").value = name;
        document.getElementById("user-form").submit();
      });

      $('.editButton').click(function () {
        var valOpt = [];
        $(this).parents('tr').find(".Option option").each(function () {
          var valOption = $(this).val();
          valOpt.push(valOption);
        });
        var valOpt1 = JSON.stringify(valOpt);

        if (valOpt1.includes('amazon')) {
          $(this).parents('tr').find(".selIntegrate option[value='amazon']").prop("selected", true);
        }
        if (valOpt1.includes('shopify')) {
          $(this).parents('tr').find(".selIntegrate option[value='shopify']").prop("selected", true);
        }
        if (valOpt1.includes('etsy')) {
          $(this).parents('tr').find(".selIntegrate option[value='etsy']").prop("selected", true);
        }
        if (valOpt1.includes('majento')) {
          $(this).parents('tr').find(".selIntegrate option[value='majento']").prop("selected", true);
        }
        if (valOpt1.includes('wooCommerce')) {
          $(this).parents('tr').find(".selIntegrate option[value='wooCommerce']").prop("selected", true);
        }
        if (valOpt1.includes('bigCommerce')) {
          $(this).parents('tr').find(".selIntegrate option[value='bigCommerce']").prop("selected", true);
        }
        if (valOpt1.includes('quickBooks')) {
          $(this).parents('tr').find(".selIntegrate option[value='quickBooks']").prop("selected", true);
        }
        if (valOpt1.includes('ebay')) {
          $(this).parents('tr').find(".selIntegrate option[value='ebay']").prop("selected", true);
        }

        $(this).parents(".row-row").children('.row-two').find('.show-row').removeClass().addClass('hide1-row')
        $(this).parents(".row-row").children('.row-two').find('.hide-row').removeClass().addClass('show-row')
      });

      $('.cancelButton').click(function () {
        $(this).parents('tr').find(".selIntegrate option").prop("selected", false);
        $(this).parents(".row-row").children('.row-two').find('.show-row').removeClass().addClass('hide-row')
        $(this).parents(".row-row").children('.row-two').find('.hide1-row').removeClass().addClass('show-row')
      });
    });

    $('.delete-user').on('click', function () {
      var id = $(this).data('id');
      var url = '/delete/' + id;
      var text = 'Are You Sure. You Want to Delete';
      if (confirm(text)) {
        $.ajax({
          url: url,
          type: 'DELETE',
          success: function (result) {
            console.log('Deleting users...');
            window.location.href = '/manage';
          },
          error: function (err) {
            console.log(err);
          }
        });
      }
    });

    $('.makeAdmin').on('click', function () {
      var id = $(this).data('id');
      var url = '/makeAdmin/' + id;
      var text = 'Are You Sure. You Want to Make Admin';
      if (confirm(text)) {
        $.ajax({
          url: url,
          type: 'POST',
          success: function (result) {
            console.log('making...');
            window.location.href = '/manage';
          },
          error: function (err) {
            console.log(err);
          }
        });
      }
    });

    $('.removeAdmin').on('click', function () {
      var id = $(this).data('id');
      var url = '/removeAdmin/' + id;
      var text = 'Are You Sure. You Want to Remove Admin';
      if (confirm(text)) {
        $.ajax({
          url: url,
          type: 'POST',
          success: function (result) {
            console.log('removing...');
            window.location.href = '/manage';
          },
          error: function (err) {
            console.log(err);
          }
        });
      }
    });

    $('.editModule').click(function () {
      $('#edit-form-id').val($(this).attr('data-id'));
      $('#edit-form-aqxoltClient').val($(this).attr('data-aqxoltClient'));
      $('#edit-form-clientSecret').val($(this).attr('data-clientSecret'));
      $('#edit-form-aqxoltChannel').val($(this).attr('data-aqxoltChannel'));
      $('#edit-form-aqxoltOrderProfile').val($(this).attr('data-aqxoltOrderProfile'));
      $('#edit-form-aqxoltCustomer').val($(this).attr('data-aqxoltCustomer'));
      $('#edit-form-instanceUrl').val($(this).attr('data-instanceUrl'));
    });

  </script>

  <!-- Javascripts -->
  <script src="public/js/multiselect-dropdown.js"></script>
  <script src="public/plugins/jquery/jquery-3.4.1.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="public/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="public/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
  <script src="public/plugins/apexcharts/apexcharts.min.js"></script>
  <script src="public/js/main.min.js"></script>
  <script src="public/js/pages/dashboard.js"></script>
  <script src="public/plugins/DataTables/datatables.min.js"></script>
  <script src="public/js/pages/datatables.js"></script>
</body>

</html>